*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
}

header{
    background:#111;
    position:fixed;
    width:100%;
    top:0;
    z-index:1000;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
}

.logo{
    color:white;
    font-size:24px;
    font-weight:bold;
}

.nav-links{
    list-style:none;
}

.nav-links a{
    color:white;
    text-decoration:none;
}

.nav-links a:hover{
    color:#ff7b00;
}

.profile-hero{
    height:50vh;
    background:
    linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),
    url("https://images.unsplash.com/photo-1519861531473-9200262188bf");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
}

.overlay{
    text-align:center;
    color:white;
}

.overlay h1{
    font-size:60px;
    margin-bottom:15px;
}

.overlay p{
    font-size:24px;
}

.coach-gallery{
    max-width:1100px;
    margin:50px auto;
    display:flex;
    justify-content:center;
    gap:20px;
    padding:0 20px;
    flex-wrap:wrap;
}

.coach-gallery img{
    width:320px;
    height:220px;
    object-fit:cover;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
    transition:0.3s;
}

.coach-gallery img:hover{
    transform:scale(1.05);
}

.profile-container{
    max-width:1100px;
    margin:40px auto 80px;
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.profile-info{
    padding:40px;
}

.profile-info h2{
    color:#ff7b00;
    margin-bottom:30px;
    font-size:32px;
}

.info-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
    font-size:18px;
}

@media(max-width:768px){

    nav{
        flex-direction:column;
    }

    .overlay h1{
        font-size:40px;
    }

    .coach-gallery{
        flex-direction:column;
        align-items:center;
    }

    .coach-gallery img{
        width:90%;
        max-width:350px;
    }

    .info-grid{
        grid-template-columns:1fr;
    }
}

.gallery-item{
    text-align:center;
    max-width:320px;
}

.gallery-item p{
    margin-top:10px;
    font-size:15px;
    color:#555;
    line-height:1.4;
}

.coach-bio{
    max-width:900px;
    margin:20px auto 50px;
    background:white;
    padding:35px;
    border-radius:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.coach-bio h2{
    color:#ff7b00;
    margin-bottom:15px;
    font-size:32px;
}

.coach-bio p{
    font-size:18px;
    line-height:1.8;
    color:#333;
}
