*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color:#f4f4f4;
}

header{
    background:#111;
    position:fixed;
    width:100%;
    top:0;
    z-index:1000;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
}

.logo{
    color:white;
    font-size:24px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
}

.nav-links li{
    margin-left:25px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

.nav-links a:hover{
    color:#ff7b00;
}

.hero{
    height:100vh;

    background:
    linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),
    url("https://images.unsplash.com/photo-1519861531473-9200262188bf");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
    color:white;
}

.hero-content h1{
    font-size:60px;
    margin-bottom:20px;
}

.hero-content p{
    font-size:22px;
    margin-bottom:30px;
}

.btn{
    display:inline-block;
    background:#ff7b00;
    color:white;
    padding:15px 35px;
    text-decoration:none;
    border-radius:30px;
    font-size:18px;
    transition:0.3s;
}

.btn:hover{
    background:#ff5500;
}

.features{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:80px 50px;
    flex-wrap:wrap;
}

.feature-card{
    width:300px;
    background:white;
    padding:30px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.feature-card h2{
    color:#ff7b00;
    margin-bottom:15px;
}

.gallery{
    padding:80px 50px;
    text-align:center;
}

.gallery h2{
    margin-bottom:30px;
    font-size:36px;
}

.gallery-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.gallery-container img{
    width:350px;
    height:250px;
    object-fit:cover;
    border-radius:15px;
    transition:0.3s;
}

.gallery-container img:hover{
    transform:scale(1.05);
}

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:25px;
}

@media(max-width:768px){

    nav{
        flex-direction:column;
    }

    .nav-links{
        margin-top:15px;
    }

    .hero-content h1{
        font-size:40px;
    }

    .hero-content p{
        font-size:18px;
    }
}
